<div class="main_container">
  <div>
    <div class="header">
      <div class="wrapper">
        <nav>
          <router-link to="/">Home</router-link>
          <router-link to="/about">About</router-link>
          <router-link to="/projects">Projects</router-link>
        </nav>
        <h1 class="main_title">Homepage</h1>
        <div class="text">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
          galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but
          also the leap into electronic typesetting.
        </div>
      </div>
    </div>
  </div>
    <!--<div class="post_item_container">-->
      <!--<todo-item v-for="(post,index) in filteredPostsArray"-->
                 <!--:key="post.id"-->
                 <!--v-bind:singlePost="post"-->
                 <!--class="post_item"-->
      <!--&gt;</todo-item>-->
      <!--<pagin-->
              <!--v-bind:current="currentPage"-->
              <!--v-bind:nextPage="nextPage"-->

              <!--v-bind:hasFirst="hasFirst"-->
              <!--v-bind:hasEnd="hasEnd"-->

              <!--v-on:prevPageEvent = "onPrevPageEvent"-->
              <!--v-on:nextPageEvent = "onNextPageEvent"-->
              <!--v-on:getAllPosts = "getAllPosts"-->

             <!--class="pagin"-->
      <!--&gt;</pagin>-->
    <!--</div>-->

</div>